.about_content {
    flex-flow: column wrap;
    width: 100%;
    min-height: 1000px;
    justify-content: space-evenly;
}

.factoid {
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    padding: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.about_content   {
    font-family: 'Bebas Neue', cursive;
}

.f1 {
    background-color: rgba(237,125,88, .6);
}

.f2 {
    background-image: linear-gradient(rgba(21,37,97.6), rgba(69,105,59,.6));
}

.f3 {
    background-color: rgba(233,124,6, .6);
    border: 2px solid rgb(250,199,68);
}

.f4 {
    background-color: rgba(224,220,219, .6);
}

.f5 {
    background-color: rgba(160,130,102,.6);
}

.row-split {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.row-split img {
    width: 60px;
    height: 25px;
}

.row-center {
    width: 100%;
    justify-content: center;
}

.footer {
    margin-top: 20px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1250px) {
    .factoid {
        width: 50vw;
        height: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .row-split {
        flex-flow: column wrap;
        align-content: center;
    }

    .row-center {
        flex-flow: column wrap;
        align-content: center;
    }

    .factoid {
        width: 95vw;
        height: 95vw;
    }
}

@media only screen and (max-width: 400px) {
    .factoid {
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        margin-bottom: 5px;
    }
}


