@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Bebas Neue', cursive; */

body {
    background-image: url(../img/milky-way.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: gold;
}

.nav-tabs {
    color: gold;
}

.jumbotron {
    background: url(../img/satellite.jpg) center center no-repeat;
    background-size: cover;
    height: 80vh;
}