@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Bebas Neue', cursive; */

/* GLOBAL */

* {
    padding: 0;
    margin: 0;
}

.flex_container {
    display: flex;
}

body {
    background: url(../img/milky-way.jpg) center center no-repeat;
    width: 100%;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #7F491B;
}

/* NAVBAR */

nav.navbar {
    background-color: rgba(0,0,0,.5);
    border-color: transparent;
    color: #7F491B;
    height: 80px;
}

.logo {
    height: 65px;
    margin-top: -10px;
}

.navbar-title {
    color: #7F491B;
}

/* HERO */

.jumbotron {
    background: url("../img/satellite.jpg") center no-repeat;
    background-size: cover;
    height: 600px;
}

.jumbotron h1 {
    color: black;
    text-shadow: 1px 0 2px #7F491B, -1px 0 2px #7F491B, 0 1px 2px #7F491B, 0 -1px 2px #7F491B;
    margin-top: 200px;
}

/* PREVIEW */

.preview_section {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.preview_box {
    border: 2px solid #7F491B;
    border-radius: 10px;
    background-color: #000;
    flex-flow: column nowrap;
    align-items: center;
    width: 30%;
    margin: 5px;
}

.preview_img{
    width: 85%;
}

/* Article sections */

.article {
    height: 950px;
    width: 100%;
    font-size: 1.3em;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

.article1_section {
    background: url(../img/astronaut.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.article2_section {
    background: url(../img/astronaut-moon-flag.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #dfdfdf;
    text-shadow: 2px 2px #000;
}



/* Media queries */
@media only screen and (max-width:768px) {
    .preview_section {
        flex-flow: column nowrap;
    }

    .preview_box {
        width: 95%;
    }
}